@font-face {
  font-family: Roboto;
  src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
}

body{
    margin: 0px;
}

.parent{   
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav{
    display: flex;
    align-self: flex-end;
    color: rgb(101, 98, 98);
    cursor: pointer;
    margin-top: 5px;
}

.nav div{
    padding: 10px;
}

.nav div:hover{
    text-decoration: underline;
}
.nav #icon{
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    opacity: 30%;
}

#icon:hover{
    opacity: 100%;
}
#acc{
    position: relative;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 5px;
    top: -5px;
}

form{
    display: flex;
    border: 1px solid rgb(223, 225, 229);
    width: 40vmax;
    height: 5vmin;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4vmin;
}
form #glass{
    height: 2vmin;
    margin-left: 20px;
}

img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

form:hover{
    box-shadow: 0px 0px 10px 1px rgba(77, 67, 67, 0.276);
}
input{
    border: none;
    width: 35vmax;
}

input:focus{
    outline: none;
}

.lang{
    align-self: center;
}

.lang .blue{
    color: rgb(51, 6, 180);
    cursor: pointer;
}

.lang .blue:hover{
    text-decoration: underline;
}

.buttons{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.buttons .google-search, .feel-lucky{
    background-color:  rgb(248, 249, 250) ;
    margin: 20px;
    padding: 1vmin;
    text-align: center;
    border-radius: 1vmin;
}

.buttons .google-search:hover, .feel-lucky:hover{
    box-shadow: 0px 0px 4px 1px rgba(77, 67, 67, 0.276);
}

.search-bar{
    align-self: center;
}
#search-bar{
    font-size: 18px;
}
.logo{
    justify-self: center;
    align-self: center;
    height: 12vmax;
    min-height: 100px;
    padding-top: 15vmin;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    color: rgb(101, 98, 98);
    border:1px solid rgb(218, 220,224);
    position: fixed;
    bottom: 0px;
}

.footer #country{
    padding-left: 12px;
}

.footer .footer-container{
    border-top: 1px solid rgb(218, 220,224);
    display: flex;
    width: 99vw;
}

.footer div{
    margin: 3px 6px 6px 6px;
}

.footer #gap{
    width: 58%;
}

.footer-container div{
    cursor: pointer;
}

.footer .footer-container div:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    form{
        width: 500px;
    }
    #search-bar{
        width: 27rem;
    }
}